CDYNESmsSample/Service References/SmsService/sms1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sms2.cdyne.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="https://sms2.cdyne.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="sms" targetNamespace="http://sms2.cdyne.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="sms2SOAPbasicHttpsBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="sms2wsHttpBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="https://sms2.cdyne.com" location="http://sms2.cdyne.com/sms.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://sms2.cdyne.com/Imports">
      <xsd:import schemaLocation="http://sms2.cdyne.com/sms.svc?xsd=xsd0" namespace="http://sms2.cdyne.com" />
      <xsd:import schemaLocation="http://sms2.cdyne.com/sms.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sms2.cdyne.com/sms.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmsWS" />
      <xsd:import schemaLocation="http://sms2.cdyne.com/sms.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Isms_SimpleSMSsend_InputMessage">
    <wsdl:part name="parameters" element="tns:SimpleSMSsend" />
  </wsdl:message>
  <wsdl:message name="Isms_SimpleSMSsend_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimpleSMSsendResponse" />
  </wsdl:message>
  <wsdl:message name="Isms_SimpleSMSsendWithPostback_InputMessage">
    <wsdl:part name="parameters" element="tns:SimpleSMSsendWithPostback" />
  </wsdl:message>
  <wsdl:message name="Isms_SimpleSMSsendWithPostback_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimpleSMSsendWithPostbackResponse" />
  </wsdl:message>
  <wsdl:message name="Isms_AdvancedSMSsend_InputMessage">
    <wsdl:part name="parameters" element="tns:AdvancedSMSsend" />
  </wsdl:message>
  <wsdl:message name="Isms_AdvancedSMSsend_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdvancedSMSsendResponse" />
  </wsdl:message>
  <wsdl:message name="Isms_GetMessageStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageStatus" />
  </wsdl:message>
  <wsdl:message name="Isms_GetMessageStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Isms_GetMessageStatusByReferenceID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageStatusByReferenceID" />
  </wsdl:message>
  <wsdl:message name="Isms_GetMessageStatusByReferenceID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageStatusByReferenceIDResponse" />
  </wsdl:message>
  <wsdl:message name="Isms_GetUnreadIncomingMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadIncomingMessages" />
  </wsdl:message>
  <wsdl:message name="Isms_GetUnreadIncomingMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadIncomingMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="Isms_CancelMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelMessage" />
  </wsdl:message>
  <wsdl:message name="Isms_CancelMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="Isms">
    <wsdl:operation name="SimpleSMSsend">
      <wsdl:input wsaw:Action="http://sms2.cdyne.com/Isms/SimpleSMSsend" message="tns:Isms_SimpleSMSsend_InputMessage" />
      <wsdl:output wsaw:Action="http://sms2.cdyne.com/Isms/SimpleSMSsendResponse" message="tns:Isms_SimpleSMSsend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimpleSMSsendWithPostback">
      <wsdl:input wsaw:Action="http://sms2.cdyne.com/Isms/SimpleSMSsendWithPostback" message="tns:Isms_SimpleSMSsendWithPostback_InputMessage" />
      <wsdl:output wsaw:Action="http://sms2.cdyne.com/Isms/SimpleSMSsendWithPostbackResponse" message="tns:Isms_SimpleSMSsendWithPostback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdvancedSMSsend">
      <wsdl:input wsaw:Action="http://sms2.cdyne.com/Isms/AdvancedSMSsend" message="tns:Isms_AdvancedSMSsend_InputMessage" />
      <wsdl:output wsaw:Action="http://sms2.cdyne.com/Isms/AdvancedSMSsendResponse" message="tns:Isms_AdvancedSMSsend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageStatus">
      <wsdl:input wsaw:Action="http://sms2.cdyne.com/Isms/GetMessageStatus" message="tns:Isms_GetMessageStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://sms2.cdyne.com/Isms/GetMessageStatusResponse" message="tns:Isms_GetMessageStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageStatusByReferenceID">
      <wsdl:input wsaw:Action="http://sms2.cdyne.com/Isms/GetMessageStatusByReferenceID" message="tns:Isms_GetMessageStatusByReferenceID_InputMessage" />
      <wsdl:output wsaw:Action="http://sms2.cdyne.com/Isms/GetMessageStatusByReferenceIDResponse" message="tns:Isms_GetMessageStatusByReferenceID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadIncomingMessages">
      <wsdl:input wsaw:Action="http://sms2.cdyne.com/Isms/GetUnreadIncomingMessages" message="tns:Isms_GetUnreadIncomingMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://sms2.cdyne.com/Isms/GetUnreadIncomingMessagesResponse" message="tns:Isms_GetUnreadIncomingMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelMessage">
      <wsdl:input wsaw:Action="http://sms2.cdyne.com/Isms/CancelMessage" message="tns:Isms_CancelMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://sms2.cdyne.com/Isms/CancelMessageResponse" message="tns:Isms_CancelMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sms2SOAPbasicHttpBinding" type="tns:Isms">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimpleSMSsend">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/SimpleSMSsend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleSMSsendWithPostback">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/SimpleSMSsendWithPostback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedSMSsend">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/AdvancedSMSsend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageStatus">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/GetMessageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageStatusByReferenceID">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/GetMessageStatusByReferenceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadIncomingMessages">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/GetUnreadIncomingMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMessage">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/CancelMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sms2SOAPbasicHttpsBinding" type="tns:Isms">
    <wsp:PolicyReference URI="#sms2SOAPbasicHttpsBinding_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimpleSMSsend">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/SimpleSMSsend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleSMSsendWithPostback">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/SimpleSMSsendWithPostback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedSMSsend">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/AdvancedSMSsend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageStatus">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/GetMessageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageStatusByReferenceID">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/GetMessageStatusByReferenceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadIncomingMessages">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/GetUnreadIncomingMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMessage">
      <soap:operation soapAction="http://sms2.cdyne.com/Isms/CancelMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sms2wsHttpBinding" type="tns:Isms">
    <wsp:PolicyReference URI="#sms2wsHttpBinding_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimpleSMSsend">
      <soap12:operation soapAction="http://sms2.cdyne.com/Isms/SimpleSMSsend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleSMSsendWithPostback">
      <soap12:operation soapAction="http://sms2.cdyne.com/Isms/SimpleSMSsendWithPostback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedSMSsend">
      <soap12:operation soapAction="http://sms2.cdyne.com/Isms/AdvancedSMSsend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageStatus">
      <soap12:operation soapAction="http://sms2.cdyne.com/Isms/GetMessageStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageStatusByReferenceID">
      <soap12:operation soapAction="http://sms2.cdyne.com/Isms/GetMessageStatusByReferenceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadIncomingMessages">
      <soap12:operation soapAction="http://sms2.cdyne.com/Isms/GetUnreadIncomingMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMessage">
      <soap12:operation soapAction="http://sms2.cdyne.com/Isms/CancelMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sms">
    <wsdl:port name="sms2SOAPbasicHttpBinding" binding="tns:sms2SOAPbasicHttpBinding">
      <soap:address location="http://sms2.cdyne.com/sms.svc/Soap" />
    </wsdl:port>
    <wsdl:port name="sms2SOAPbasicHttpsBinding" binding="tns:sms2SOAPbasicHttpsBinding">
      <soap:address location="https://cciad1ws2.cdyne.net/sms.svc/SecureSoap" />
    </wsdl:port>
    <wsdl:port name="sms2wsHttpBinding" binding="tns:sms2wsHttpBinding">
      <soap12:address location="http://sms2.cdyne.com/sms.svc/WS" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://sms2.cdyne.com/sms.svc/WS</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>